# container name: default: <release-name>-<chart name>-kibana-<nodeset name>-<replica index no>
nameOverride: eck-demo  # override the name of the Chart: eck-elasticsearch, container name will be elasticsearch-eck-demo-es-default-0
# fullnameOverride: eck-demo  # container name will be: eck-demo-kibana-default-0, it names ingress also

elasticsearchRef:
  name: elasticsearch-eck-demo

annotations:
  eck.k8s.elastic.co/license: basic

config:
  # Fleet server
  xpack.fleet.agents.elasticsearch.hosts: ["https://elasticsearch-eck-demo-es-http:9200"]
  xpack.fleet.agents.fleet_server.hosts: ["https://eck-fleet-server-agent-http:8220"]
  xpack.fleet.packages:
    - name: system
      version: latest
    - name: elastic_agent
      version: latest
    - name: fleet_server
      version: latest
    - name: kubernetes
      version: latest  # https://epr.elastic.co/search?package=kubernetes
  xpack.fleet.agentPolicies:
    - name: Fleet Server on ECK policy
      id: eck-fleet-server
      namespace: default
      is_managed: true
      monitoring_enabled:
        - logs
        - metrics
      unenroll_timeout: 900
      package_policies:
      - name: fleet_server-1
        id: fleet_server-1
        package:
          name: fleet_server
    - name: Elastic Agent on ECK policy
      id: eck-agent
      namespace: default
      is_managed: true
      monitoring_enabled:
        - logs
        - metrics
      unenroll_timeout: 900
      package_policies:
        - name: system-1
          id: system-1
          package:
            name: system
        - name: kubernetes-1
          id: kubernetes-1
          package:
            name: kubernetes

# secureSettings:
#   - secretName: kibana-elasticsearch-credentials  # keys: username, password, url
# podTemplate:
#   # metadata:
#   #   labels:
#   #     my.custom.domain/label: "label-value"
#   #   annotations:
#   #     my.custom.domain/annotation: "annotation-value"
#   spec:
#     containers:
#     - name: kibana
#       env:
#         - name: NODE_OPTIONS
#           value: "--max-old-space-size=2048"
#       resources:
#         requests:
#           memory: 1Gi
#           cpu: 0.5
#         limits:
#           memory: 2.5Gi
#           cpu: 2
#     nodeSelector:
#       type: frontend

ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    # nginx.ingress.kubernetes.io/ssl-redirect: "true"
    # nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    # nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    # nginx.ingress.kubernetes.io/ssl-passthrough: "true"
  hosts:
    - host: kibana-192.168.0.100.nip.io
      path: /

monitoring:
  metrics:
    elasticsearchRefs:
    - name: elasticsearch-eck-demo
      namespace: logging
  logs:
    elasticsearchRefs:
    - name: elasticsearch-eck-demo
      namespace: logging
