---
apiVersion: v1
kind: Secret
metadata:
  name: system-cpu-config
  namespace: logging
stringData:
  # https://raw.githubusercontent.com/elastic/cloud-on-k8s/3.2/config/recipes/elastic-agent/kubernetes-integration.yaml
  agent.yml: |-
    id: 488e0b80-3634-11eb-8208-57893829af4e
    revision: 2
    agent:
      monitoring:
        enabled: true
        use_output: default
        logs: true
        metrics: true
    inputs:
    - id: 678daef0-3634-11eb-8208-57893829af4e
      name: kubernetes-1
      revision: 1
      type: kubernetes/metrics
      use_output: default
      meta:
        package:
          name: kubernetes
          version: 0.2.8
      data_stream:
        namespace: k8s
      streams:
      - id: kubernetes/metrics-kubernetes.apiserver
        data_stream:
          dataset: kubernetes.apiserver
          type: metrics
        metricsets:
        - apiserver
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.KUBERNETES_SERVICE_HOST}:${env.KUBERNETES_SERVICE_PORT}'
        period: 30s
        ssl.certificate_authorities:
        - /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      - id: kubernetes/metrics-kubernetes.container
        data_stream:
          dataset: kubernetes.container
          type: metrics
        metricsets:
        - container
        add_metadata: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.NODE_NAME}:10250'
        period: 10s
        ssl.verification_mode: none
      - id: kubernetes/metrics-kubernetes.event
        data_stream:
          dataset: kubernetes.event
          type: metrics
        metricsets:
        - event
        period: 10s
        add_metadata: true
      - id: kubernetes/metrics-kubernetes.node
        data_stream:
          dataset: kubernetes.node
          type: metrics
        metricsets:
        - node
        add_metadata: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.NODE_NAME}:10250'
        period: 10s
        ssl.verification_mode: none
      - id: kubernetes/metrics-kubernetes.pod
        data_stream:
          dataset: kubernetes.pod
          type: metrics
        metricsets:
        - pod
        add_metadata: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.NODE_NAME}:10250'
        period: 10s
        ssl.verification_mode: none
      - id: kubernetes/metrics-kubernetes.system
        data_stream:
          dataset: kubernetes.system
          type: metrics
        metricsets:
        - system
        add_metadata: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.NODE_NAME}:10250'
        period: 10s
        ssl.verification_mode: none
      - id: kubernetes/metrics-kubernetes.volume
        data_stream:
          dataset: kubernetes.volume
          type: metrics
        metricsets:
        - volume
        add_metadata: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        hosts:
        - 'https://${env.NODE_NAME}:10250'
        period: 10s
        ssl.verification_mode: none

  # https://raw.githubusercontent.com/elastic/cloud-on-k8s/3.2/config/recipes/elastic-agent/system-integration.yaml
  # system.yml: |-
  #   - id: 4917ade0-3634-11eb-8208-57893829af4e
  #     name: system-1
  #     revision: 1
  #     type: system/metrics
  #     use_output: default
  #     meta:
  #       package:
  #         name: system
  #         version: 9.2.0
  #     data_stream:
  #       namespace: default
  #     streams:
  #     - id: system/metrics-system.cpu
  #       data_stream:
  #         dataset: system.cpu
  #         type: metrics
  #       metricsets:
  #       - cpu
  #       cpu.metrics:
  #       - percentages
  #       - normalized_percentages
  #       period: 10s
  #     - id: system/metrics-system.diskio
  #       data_stream:
  #         dataset: system.diskio
  #         type: metrics
  #       metricsets:
  #       - diskio
  #       diskio.include_devices: null
  #       period: 10s
  #     - id: system/metrics-system.filesystem
  #       data_stream:
  #         dataset: system.filesystem
  #         type: metrics
  #       metricsets:
  #       - filesystem
  #       period: 1m
  #       processors:
  #       - drop_event.when.regexp:
  #           system.filesystem.mount_point: ^/(sys|cgroup|proc|dev|etc|host|lib|snap)($|/)
  #     - id: system/metrics-system.fsstat
  #       data_stream:
  #         dataset: system.fsstat
  #         type: metrics
  #       metricsets:
  #       - fsstat
  #       period: 1m
  #       processors:
  #       - drop_event.when.regexp:
  #           system.fsstat.mount_point: ^/(sys|cgroup|proc|dev|etc|host|lib|snap)($|/)
  #     - id: system/metrics-system.load
  #       data_stream:
  #         dataset: system.load
  #         type: metrics
  #       metricsets:
  #       - load
  #       period: 10s
  #     - id: system/metrics-system.memory
  #       data_stream:
  #         dataset: system.memory
  #         type: metrics
  #       metricsets:
  #       - memory
  #       period: 10s
  #     - id: system/metrics-system.network
  #       data_stream:
  #         dataset: system.network
  #         type: metrics
  #       metricsets:
  #       - network
  #       period: 10s
  #       network.interfaces: null
  #     - id: system/metrics-system.process
  #       data_stream:
  #         dataset: system.process
  #         type: metrics
  #       metricsets:
  #       - process
  #       period: 10s
  #       process.include_top_n.by_cpu: 5
  #       process.include_top_n.by_memory: 5
  #       process.cmdline.cache.enabled: true
  #       process.cgroups.enabled: false
  #       process.include_cpu_ticks: false
  #       processes:
  #       - .*
  #     - id: system/metrics-system.process_summary
  #       data_stream:
  #         dataset: system.process_summary
  #         type: metrics
  #       metricsets:
  #       - process_summary
  #       period: 10s
  #     - id: system/metrics-system.socket_summary
  #       data_stream:
  #         dataset: system.socket_summary
  #         type: metrics
  #       metricsets:
  #       - socket_summary
  #       period: 10s
  #     - id: system/metrics-system.uptime
  #       data_stream:
  #         dataset: system.uptime
  #         type: metrics
  #       metricsets:
  #       - uptime
  #       period: 10s

  # https://raw.githubusercontent.com/elastic/cloud-on-k8s/3.2/config/recipes/elastic-agent/multi-output.yaml
  # multiple-output.yml: |-
  #   revision: 2
  #   agent:
  #     monitoring:
  #       enabled: true
  #       use_output: monitoring
  #       logs: true
  #       metrics: true
  #   inputs:
  #   - id: logfile-system-835850a7-3f6b-4ae9-8d02-a9a15767cf39
  #     name: system-1
  #     revision: 1
  #     type: logfile
  #     use_output: default
  #     meta:
  #       package:
  #         name: system
  #         version: 1.20.4
  #     data_stream:
  #       namespace: default
  #     streams:
  #     - id: logfile-system.auth
  #       data_stream:
  #         dataset: system.auth
  #         type: logs
  #       paths:
  #       - /var/log/auth.log*
  #       - /var/log/secure*
  #       exclude_files:
  #       - .gz$
  #       multiline:
  #         pattern: ^\s
  #         match: after
  #       processors:
  #       - add_locale: { }
  #       - add_fields:
  #           target: ''
  #           fields:
  #             ecs.version: 1.5.0
  #     - id: logfile-system.syslog
  #       data_stream:
  #         dataset: system.syslog
  #         type: logs
  #       paths:
  #       - /var/log/messages*
  #       - /var/log/syslog*
  #       exclude_files:
  #       - .gz$
  #       multiline:
  #         pattern: ^\s
  #         match: after
  #       processors:
  #       - add_locale: { }
  #       - add_fields:
  #           target: ''
  #           fields:
  #             ecs.version: 1.5.0
  #   - id: system/metrics-system-835850a7-3f6b-4ae9-8d02-a9a15767cf39
  #     name: system-1
  #     revision: 1
  #     type: system/metrics
  #     use_output: default
  #     meta:
  #       package:
  #         name: system
  #         version: 1.20.4
  #     data_stream:
  #       namespace: default
  #     streams:
  #     - id: system/metrics-system.cpu
  #       data_stream:
  #         dataset: system.cpu
  #         type: metrics
  #       metricsets:
  #       - cpu
  #       cpu.metrics:
  #       - percentages
  #       - normalized_percentages
  #       period: 10s
  #     - id: system/metrics-system.diskio
  #       data_stream:
  #         dataset: system.diskio
  #         type: metrics
  #       metricsets:
  #       - diskio
  #       diskio.include_devices: { }
  #       period: 10s
  #     - id: system/metrics-system.filesystem
  #       data_stream:
  #         dataset: system.filesystem
  #         type: metrics
  #       metricsets:
  #       - filesystem
  #       period: 1m
  #       processors:
  #       - drop_event.when.regexp:
  #           system.filesystem.mount_point: ^/(sys|cgroup|proc|dev|etc|host|lib|snap)($|/)
  #     - id: system/metrics-system.fsstat
  #       data_stream:
  #         dataset: system.fsstat
  #         type: metrics
  #       metricsets:
  #       - fsstat
  #       period: 1m
  #       processors:
  #       - drop_event.when.regexp:
  #           system.fsstat.mount_point: ^/(sys|cgroup|proc|dev|etc|host|lib|snap)($|/)
  #     - id: system/metrics-system.load
  #       data_stream:
  #         dataset: system.load
  #         type: metrics
  #       metricsets:
  #       - load
  #       period: 10s
  #     - id: system/metrics-system.memory
  #       data_stream:
  #         dataset: system.memory
  #         type: metrics
  #       metricsets:
  #       - memory
  #       period: 10s
  #     - id: system/metrics-system.network
  #       data_stream:
  #         dataset: system.network
  #         type: metrics
  #       metricsets:
  #       - network
  #       period: 10s
  #       network.interfaces: { }
  #     - id: system/metrics-system.process
  #       data_stream:
  #         dataset: system.process
  #         type: metrics
  #       metricsets:
  #       - process
  #       period: 10s
  #       process.include_top_n.by_cpu: 5
  #       process.include_top_n.by_memory: 5
  #       process.cmdline.cache.enabled: true
  #       process.cgroups.enabled: false
  #       process.include_cpu_ticks: false
  #       processes:
  #       - .*
  #     - id: system/metrics-system.process_summary
  #       data_stream:
  #         dataset: system.process_summary
  #         type: metrics
  #       metricsets:
  #       - process_summary
  #       period: 10s
  #     - id: system/metrics-system.socket_summary
  #       data_stream:
  #         dataset: system.socket_summary
  #         type: metrics
  #       metricsets:
  #       - socket_summary
  #       period: 10s
  #     - id: system/metrics-system.uptime
  #       data_stream:
  #         dataset: system.uptime
  #         type: metrics
  #       metricsets:
  #       - uptime
  #       period: 10s