daemonset:
  extraEnvs: []
  filebeatConfig:  # send over logstash, by default sends to ES directly
    # Dynamic discovering example, default is file based
    filebeat.yml: |
      filebeat.autodiscover:
        providers:
          - type: kubernetes
            templates:
            - config:
              - type: container
                paths:
                - /var/log/containers/*-${data.kubernetes.container.id}.log
                multiline.type: pattern
                multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
                multiline.negate: true
                multiline.match: after
              # condition:
              #   equals:
              #     kubernetes.labels.co_elastic_logs/enabled: "true"

      output.logstash:
        hosts: ["logstash-logstash-headless:5044"]

  secretMounts: []
# filebeatJavaOpts: -Xmx2g -Xms512m

resources:
  requests:
    cpu: "100m"
    memory: "512M"
  limits:
    cpu: "1000m"
    memory: "1024M"
